export DB_HOST=119.59.102.14
export DB_PORT=9875
export DB_USER=postgres
export DB_PASSWORD=12345678
export DB_NAME=general
export DB_SSLMODE=disable
export JWT_SECRET=fkdsjfklds
export JWT_EXPIRATION=15
export PORT=8004
export GOOSE_DRIVER=postgres
export GOOSE_DBSTRING="postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}"
export GOOSE_MIGRATION_DIR=db/migrations